.imagen-container
  height 380px
  img 
    max-width 100%
.activo 
  border 2px solid #6CB78D
  border-radius 6px
  color #6CB78D !important
body
  font-size 16px
 
a
  &:hover
    text-decoration none
li
  list-style none
ul
  padding 0
  margin 0
.header
  padding 2em 3em
  overflow hidden
  .logo
    float left
    img
      width 50%
.menu
  float right
  margin-top 2em
  li
    display inline-block 
    a
      font-size 1.2em
      font-weight 200
      color #2B3F48
      padding .7em .7em
      &:hover
        color #6CB78D
      &:active
        border 2px solid #6CB78D
        border-radius 6px
        color #6CB78D
.titulo
  bottom 1em
  right 2em
  position absolute  
  text-align right
  h2
    color white
    font-size 2.5em
    text-transform  capitalize
    text-shadow 1px 2px 4px #333
  span
    background #6cb78d
    color white 
    padding 8px  
    font-size 1.1em
.carousel
  .titulo2
    margin 5em 0 
    h2
      text-align center
      font-size 2.5em
      text-transform uppercase
      font-weight 300
      color #483949
    p 
      text-align center
      font-size 1.5em
      color #aaa
      font-weight 300
  .reel 
    display inline-block
    height 510px
    overflow hidden
    article
      margin-bottom 0.5em
      a 
        img 
          width 100%
.contacto
  background #f8f8f8
  height 350px
  form
    .mensaje
      height 7em
      margin-top 2em