.imagen-container
  height 530px
  position relative
  overflow hidden
  width 100%
  img 
    max-width 100%
.activo 
  border 2px solid #6CB78D
  border-radius 6px
  color #6CB78D !important
.font 
	font-size 2em	
	color #333
	float left
	margin-right 0.5em
body
  font-size 16px
  margin-right 0.9 !important
a
  &:hover
    text-decoration none
li
  list-style none
ul
  padding 0
  margin 0
.header
  padding 2em 3em
  overflow hidden
  .logo
    float left
    img
      width 50%
.menu
  float right
  margin-top 2em
  li
    display inline-block 
    a
      font-size 1.2em
      font-weight 200
      color #2B3F48
      padding .7em .7em
      &:hover
        color #6CB78D
      &:active
        border 2px solid #6CB78D
        border-radius 6px
        color #6CB78D
.titulo
  bottom 1em
  right 2em
  position absolute  
  text-align right
  h2
    color white
    font-size 2.5em
    text-transform  capitalize
    text-shadow 1px 2px 4px #333
  span
    background #6cb78d
    color white 
    padding 8px  
    font-size 1.1em
.carousel
  .titulo2
    margin 5em 0 
    h2
      text-align center
      font-size 2.5em
      text-transform capitalize
      font-weight 300
      color #483949
    p 
      text-align center
      font-size 1.5em
      color #aaa
      font-weight 300
  .reel 
    display inline-block
    height 510px
    overflow hidden
    article
      margin-bottom 0.5em
      a 
        img 
          width 100%
.contacto
  background #f8f8f8
  height 650px
  .titulo3
  	h2
  		text-align center
  		font-weight 300
  		margin 1.5em 0
  form
  	.input
  		height 3em
  		margin-top .5em
		.mensaje
			height 7em 
			margin-top 2em
	.boton
		margin-top 1.5em
  margin-bottom 2em  
		.submit
			color white 
			font-size 1.2em	
			background #6CB78D
			border none
			padding 0.5em 2em
			border-radius 6px
	.info-contacto
		margin 3em 0
		.contenedor
			margin-bottom 2em
			p 
				font-size 1.5em
				font-weight 300
